@font-face {
  font-family: 'UberMoveText';
  src: url('./UberMoveText-Light_1750718678013.woff') format('woff'),
       url('./UberMoveText-Light_1750718678011.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UberMoveText';
  src: url('./UberMoveText-Regular_1750718678013.woff') format('woff'),
       url('./UberMoveText-Regular_1750718678011.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UberMoveText';
  src: url('./UberMoveText-Medium_1750718678012.woff') format('woff'),
       url('./UberMoveText-Medium_1750718678010.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UberMoveText';
  src: url('./UberMoveText-Bold_1750718678013.woff') format('woff'),
       url('./UberMoveText-Bold_1750718678011.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UberMove';
  src: url('./UberMove-Medium_1750718678013.woff') format('woff'),
       url('./UberMove-Medium_1750718678011.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}